html,
body,
#root {
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    height: 100%;
}

body {
    margin: 0;
}

#epg-root {
    height: 100%;
    width: 100%;
}

:root {
    --toolbar-height: 60px;
}