<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Canales IPTV</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Canales IPTV Acestream</h1>
    <h3>🖕🏻 Tebas 🖕🏻</h3>

    <div class="container">
        <table class="epg-table">
            <thead>
                <tr>
                    <th>Canal</th>
                    <th>Guía de Programación</th>
                </tr>
            </thead>
            <tbody id="channels-container">
            </tbody>
        </table>
    </div>

    <script src="/static/main.js"></script>
</body>

</html>